/* ? seleciona o body para deixar um cursor personalizado */
body {
    cursor: url(../../public/cursores/cursorSobremesas.png), auto;
}

/* ?adicona propriedades de flex box a main */
main.conteiner {
    display: flex;
    flex-direction: column;
}

/* ? seleciona o conteiner dos cards para setar as distancias e como vão se dispor */
section.conteinerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    transition: all 1.3s ease-in-out;

}

/* ? decide como os cards vão ser e se comportar */
section.conteinerCards div.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 350px;
    background: #fff;
    border-radius: 10px;
    transition: all .7s ease-in-out;
}

/* ? adiciona uma sombra ao passar o mouse sobre o card */
div.card:hover {
    box-shadow: -18px 10px 11px 0px rgba(0, 0, 0, 0.27);
}

/* ? move a imagem até ela sair da tela quando tiver em hover */
div.conteudoCard:hover div.conteinerImg {
    transform: translateY(-200px);
}

/* ? move o conteudo do card até o centro quando estiver em hover */
div.conteudoCard:hover div.conteinerTextoCard {
    transform: translateY(-100px);
}

/* ? configura a cor do titulo dos cards */
h2.titleCard {
    color: #87CEEB;
}

/* ? defdine como o conteiner da imagem vai ser e se comportar */
section.conteinerCards div.conteinerImg {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 200px;
    transition: 1s;
    overflow: hidden;
}

/* ? defdine como a imagem vai ser e se comportar */
img.imgCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .7s ease-in-out;
}

section.conteinerCards div.conteinerTextoCard {
    margin: 30px;
    text-align: center;
    transition: all .7s ease-in-out;
}

div.conteinerTextoCard p.descripitionCard {
    font-weight: 200;
    margin-block: 20px;
}