@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body {
    background: #faf8ef;
    padding-inline: 50px;
    padding-bottom: 35px;
}

/*?  seletor di tutulo da pagina*/
h1.title {
    color: rgb(68, 68, 68);
    text-align: center;
    margin-block: 20px 40px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;


}

/*? selecionar o conteiner do card em si */
div.cardContainer {
    perspective: 1000px;
    border-radius: 10px;
}

/*? peda dentro do conteiner do card a parte onde realmente é o card */
div.cardContainer div.flipCard {
    width: 350px;
    height: 454px;
    /*? é definido como relativo para que o conteudo seja definido como absolto */
    position: relative;
    cursor: pointer;
}

/*? seleciona dentro do card a div em que esta as faces do card e serve para definir a área onde as faces vão ficar*/
div.flipCard div.flipCardInner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
}

/* ? faz com que a área das faces gire quando o card ganha a classe de flip */
div.flipCard.flip div.flipCardInner {
    transform: rotateY(180deg);
}

/* ? define algumas configurações padrão para a frente e o verso */
div.frontSide,
div.backSide {
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

/* ? define um fundo, e algumas outras coisas para a frente */
div.frontSide {
    background: url(../../public/imgBanana.jpeg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundAnimation 3s infinite ease-in-out;
    transition: all 1s ease-in-out;
}

div.frontSide:hover {
    transform: translateY(-10px);
    box-shadow: -18px 10px 11px 0px rgba(0, 0, 0, 0.27);
}

div.conteinerConteudoFrontSide {
    position: absolute;
}

div.frontSide h2 {
    opacity: 0;
    transition: all .7s ease-in-out;
}

div.frontSide:hover h2 {
    opacity: 100%;
}

/* ? define as configurações do verso */
div.backSide {
    background: #fff;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* ? faz tudo que esta no lado de tras rodar junto com o card para não ficar invertido */
div.backSide * {
    transform: rotateY(180deg);
}

div.backSide img.icone {
    width: 60px;
    margin-inline: auto;
}

div.backSide h2.titleBackSide {
    margin-inline: auto;
}

/* ! parte da lista */
div.conteinerConteudoBackside ul.listaVantagens {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

ul.listaVantagens li.topicos {
    background: rgba(247, 183, 63, 0.872);
    color: white;
    font-weight: 700;
    padding: 8px;
    font-size: 12px;
    border-radius: 6px;
}

/* ! parte de animação */
@keyframes backgroundAnimation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}