@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


/* ? define que o conteiner de cards vai ter um flex warp, um gap e o conteudo vai ser centralizado */
section.conteinerCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/*? selecionar o conteiner do card em si */
div.cardContainer {
    /*  adiciona um efeito 3d no card */
    perspective: 1000px;

    border-radius: 10px;
}

/*? peda dentro do conteiner do card a parte onde realmente é o card */
div.cardContainer div.flipCard {
    /* é definido como relativo para que o conteudo seja definido como absolto */
    position: relative;

    width: 350px;
    height: 454px;

    cursor: pointer;
}

/*? seleciona dentro do card a div em que esta as faces do card e serve para definir a área onde as faces vão ficar*/
div.flipCard div.flipCardInner {
    position: absolute;

    width: 100%;
    height: 100%;

    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
}


/* ? define algumas configurações padrão para a frente e o verso */
div.frontSide,
div.backSide {
    position: absolute;

    border-radius: 10px;

    backface-visibility: hidden;
}

/* ? define o fundo e suas propriedades de cada card */
div.cardConteiner1 div.frontSide {
    background: url(../../public/imgBanana.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.cardConteiner2 div.frontSide {
    background: url(../../public/imgMorango.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.cardConteiner3 div.frontSide {
    background: url(../../public/imgAbacate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: backgroundAnimation 6s infinite ease-in-out;

}

div.cardConteiner4 div.frontSide {
    background: url(../../public/imgMaca.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.cardConteiner5 div.frontSide {
    background: url(../../public/imgManga.webp);
    background-size: cover;
    background-repeat: no-repeat;
    animation: backgroundAnimation 6s infinite ease-in-out;

}


/* ? define algumas outras coisas para a frente do card */
div.frontSide {
    /*propriedades de flex box */
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    width: 100%;
    height: 100%;

    /* adiciona uma transição ao fundo */
    animation: backgroundAnimation 3s infinite ease-in-out;
    transition: all 1s ease-in-out;
}

/* ? coloca efeito de hover que adiciona uma sombra e um deslocamento vertival */
div.frontSide:hover {
    transform: translateY(-10px);
    box-shadow: -18px 10px 11px 0px rgba(0, 0, 0, 0.27);
}

div.conteinerConteudoFrontSide {
    position: absolute;
}

/* ? define a propriedade do texto que aparece no hover */
div.frontSide h2 {
    opacity: 0;
    transition: all .7s ease-in-out;
}

div.frontSide:hover h2 {
    opacity: 100%;
}

/* ? define as configurações do verso */
div.backSide {
    display: flex;
    flex-direction: column;

    background: #fff;
    box-shadow: -18px 10px 11px 0px rgba(0, 0, 0, 0.27);

    width: 100%;
    height: 100%;
    padding: 20px;

    transform: rotateY(180deg);

}

/* ? formata os icones do verso */
div.backSide img.icone {
    width: 60px;
    margin-inline: auto;
}

div.backSide h2.titleBackSide {
    margin-inline: auto;
}

/* ! parte da lista */

div.conteinerConteudoBackside ul.listaVantagens {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    list-style: none;
}

ul.listaVantagens li.topicos {
    background: rgba(247, 183, 63, 0.872);
    border-radius: 6px;

    color: #000;
    font-weight: 700;
    font-size: 12px;

    padding: 8px;

    transform: rotateY(0);
}

/* ! parte de animação */
/* ? define uma animação para o fundo do card, apenas mudando a posição do fundo com uma transição suave */
@keyframes backgroundAnimation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}